/*CSS reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { font:14px "Microsoft YaHei","Arial","黑体",sans-serif; color:#333}
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#333; text-decoration:none; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px "Microsoft YaHei","Arial","黑体",sans-serif; }
table { border-collapse:collapse; }
.left {float: left}
.right {float: right}
.clearfix:after {display:block; content:""; clear:both}
.clearfix::after {display:block; content:""; clear:both}

/*开机动画 遮罩*/
#bootMask {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
.boot-mask-up {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    background: #009ee0;
    transition: height 1s;
}
.boot-mask-down {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: #009ee0;
    transition: height 1s;
}
.boot-mask-line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom:auto;
    width: 0%;
    height: 4px;
    background: #fff;
    transition: width .5s;
}

/*头部*/
#header {
    height: 80px;
    position: relative;
}
.header-container {
    margin: 0 auto;
    width: 1100px;
    height: 80px;
}
.logo {
    margin-top: 15px;
}
.logo img {
    display: block;
}
.bg-music {
    float: left;
    margin: 50px 0 0 5px;
    width: 14px;
    height: 14px;
    background-image: url('../img/musicoff.gif');
    background-repeat: no-repeat;
    cursor: pointer;
}
.bg-music.played {
    background-image: url('../img/musicon.gif');
}
.header-nav {
    margin-top: 50px;
}
.header-nav li {
    float: left;
    margin-left: 40px;
}
.header-nav li:first-child img {
    width: 18px;
    height: 16px;
}
.header-nav li a {
    display: block;
    position: relative;
}
.nav-item-actived {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    overflow: hidden;
    color: #000;
    white-space: nowrap;
    transition: width 1s;
}
.nav-item-default {
    color: #009EE0;
}
.header-nav li:hover .nav-item-actived {
    width: 100%;
}
.header-nav li.actived .nav-item-actived {
    width: 100%;
}
.arrow {
    position: absolute;
    left: 50%;
    bottom: -11px;
    z-index: 100;
    width: 21px;
    height: 11px;
    background: url(../img/arrow.png) no-repeat;
    transition: left 1s;
}

/*主体内容*/
#main {
    overflow: hidden;
    position: relative;
}
.page-list {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transition: top 1s;
}
.page-item {
    position: relative;
    overflow: hidden;
}
.page-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 1100px;
    height: 520px;
}
.common-title{
    color:#009ee0;
    font-size:80px;
    line-height:0.8;
    font-weight:bold;
    letter-spacing:-5px;
}
.common-text{
    color:#fff;
    line-height:1.5;
    font-size:15px;
}
.course-plus {
    position: absolute;
    top: -5px;
    width: 9px;
    height: 410px;
    background: url('../img/plus_row.png') no-repeat;
}
.course-plus:nth-child(1){left: -6px;}
.course-plus:nth-child(2){left: 114px;}
.course-plus:nth-child(3){left: 234px;}
.course-plus:nth-child(4){left: 354px;}
.course-plus:nth-child(5){left: 474px;}
    /*第一屏*/
.home {
    background: url('../img/bg1.jpg') no-repeat center center/cover;
}
.play {
    width: 1100px;
    height: 520px;
}
.play-list {
    position: relative;
    width: 1100px;
    height: 520px;
    transform-style: preserve-3d;
    perspective: 1500px;
    transition: transform 1s;
}
.play-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 1100px;
    height: 520px;
    text-align: center;
    line-height: 520px;
    font-size: 80px;
    letter-spacing: -5px;
    color: #fff;
    visibility: hidden;
    perspective-origin: center center;
    transform-origin: center;
}
.play-item.actived {
    visibility: visible;
}
.play-item:nth-child(1) {
    background:#dc6c5f;
}
.play-item:nth-child(2) {
    background:#95dc84;
}
.play-item:nth-child(3) {
    background:#64b9d2;
}
.play-item:nth-child(4) {
    background:#000000;
}
.icon-list {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 0;
    transition: transform 1s;

}
.icon-item {
    display: inline-block;
    margin: 2px;
    width: 20px;
    height: 20px;
    background:rgba(255,255,255,0.5);
    border-radius: 50%;
    box-shadow:0 0 4px rgba(25,25,25,0.8);
}
.icon-item.actived {
    background: #fff;
}
.play-item.left-hide {
    animation: leftHide 2s;
    visibility: hidden;
}
.play-item.left-show {
    animation: leftShow 2s;
    visibility: visible;
}
.play-item.right-hide {
    animation: rightHide 2s;
    visibility: hidden;
}
.play-item.right-show {
    animation: rightShow 2s;
    visibility: visible;
}

/*关键帧 playItem从左边隐藏*/
@keyframes leftHide {
    0%{
        visibility: visible;
    }
    50%{
        transform: translateX(-40%) scale(0.8) rotateY(30deg);
    }
    100%{
        transform: translateZ(-200px);
    }
}
/*关键帧 playItem从左边显示*/
@keyframes leftShow {
    0%{
        visibility: visible;
        transform: translateZ(-200px);
    }
    50%{
        transform: translateX(-40%) scale(0.8) rotateY(30deg);
    }
    100%{

    }
}
/*从右边隐藏*/
@keyframes rightHide {
    0% {
        visibility: visible;
    }
    50%{
        transform: translateX(40%) scale(0.8) rotateY(-30deg);
    }
    100%{
        transform: translateZ(-200px);
    }
}
/*关键帧 playItem 从右边显示*/
@keyframes rightShow  {
    0% {
        visibility: visible;
        transform: translateZ(-200px);
    }
    50%{
        transform: translateX(40%) scale(0.8) rotateY(-30deg);
    }
    100%{

    }
}

    /*第二屏*/
.course {
    background: url('../img/bg2.jpg') no-repeat center center/cover;
}
.course01 {
    position: relative;
    margin: 50px;
    z-index: 1;
}
.course02 {
    position: relative;
    z-index: 1;
    margin-left: 50px;
    width: 400px;
}
.course03 {
    position: absolute;
    right: 50px;
    top: 70px;
    width: 480px;
    z-index: 1;
}
.course-list {
    transform-style: preserve-3d;
}
.course-item {
    position: relative;
    float: left;
    width: 120px;
    height: 132px;
    transform-style: preserve-3d;
    perspective: 1000px;
}
.course-item-inner {
    position: relative;
    width: 120px;
    height: 132px;
    transition: transform .5s;
    transform-style: preserve-3d;
}
.course-item-front {
    width: 120px;
    height: 132px;
    line-height: 132px;
    overflow: hidden;
    backface-visibility: hidden;
}
.course-item-front img {
    display: block;
    margin: 26px auto 0;
    width: 80px;
    height: 80px;
}
.course-item-back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    line-height: 132px;
    font-size: 20px;
    background:#009ee0;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
.course-item:hover .course-item-inner{
    transform: rotateY(180deg);
}
.course .plane1 {
    position: absolute;
    left:300px;
    top: -100px;
    width: 359px;
    height: 283px;
    background: url('../img/plane1.png') no-repeat;
    transition: transform 1s;
    /*z-index: -1;*/
}
.course .plane2{
    position:absolute;
    left:-100px;
    top:200px;
    width:309px;
    height:249px;
    background:url(../img/plane2.png) no-repeat;
    transition:1s;
}
.course .plane3{
    width:230px;
    height:182px;
    background:url(../img/plane3.png) no-repeat;
    position:absolute;
    left:300px;
    top:400px;
    transition:1s;
}


    /*第三屏*/
.works {
    background: url('../img/bg3.jpg') no-repeat center center/cover;
}
.works01 {
    position: relative;
    z-index: 1;
    margin: 50px 0 100px 50px;
}
.works02 {
    position: relative;
    z-index: 1;
    margin-left: 50px;
}

.works-item {
    position: relative;
    float: left;
    margin: 0 1px;
    width: 220px;
    height: 133px;
    overflow: hidden;
}
.works-item:last-child {
    width: 332px;
}
.works-item-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(25,25,25,.8);
    opacity: 0;
    transition: opacity 1s;
}
.works-item-mask p {
    margin: 10px;
    color: #fff;
}
.works-item-mask .mask-icon {
    display: block;
    margin: 0 auto;
    width: 32px;
    height: 34px;
    background: url('../img/zoomico.png') no-repeat;
    transition: background-position 1s;
}
.works-item img {
    display: block;
    transition: transform 1s;
}
.works-item:hover .works-item-mask{
    opacity: 1;
}
.works-item:hover img {
    transform: scale(1.5) rotate(20deg);
}
.works-item:hover .works-item-mask .mask-icon {
    background-position: 0 -35px;
}
.robot {
    position: absolute;
    left: 900px;
    top: 170px;
    z-index: 1;
    width: 167px;
    height: 191px;
    background: url('../img/robot.png') no-repeat;
    animation: robotMove 5s linear infinite;
}
@keyframes robotMove {
    0% {

    }
    49% {
        transform: rotateY(0deg);
    }
    50% {
        left: 40%;
        transform:rotateY(180deg);
    }
    100% {
        transform:rotateY(180deg);
    }
}
.works .pencel1 {
    position: absolute;
    left:500px;
    top:0;
    width:180px;
    height:97px;
    background:url(../img/pencel1.png) no-repeat;
    transition:1s;
}
.works .pencel2{
    position:absolute;
    left:300px;
    top:250px;
    width:268px;
    height:38px;
    background:url(../img/pencel2.png) no-repeat;
    transition:1s;
}
.works .pencel3{
    position:absolute;
    left:650px;
    top:300px;
    width:441px;
    height:231px;
    background:url(../img/pencel3.png) no-repeat;
    transition:1s;
}


    /*第四屏*/
.about {
    background: url('../img/bg4.jpg') no-repeat center center/cover;
}
.about01 {
    margin: 50px 0 100px 50px;
}
.about02 {
    margin-left: 50px;
    width: 400px;
}
.about-item {
    position: absolute;
    z-index: 5;
    width: 260px;
    height: 200px;
    border: 5px solid rgba(255,255,255,0.5);
    border-radius: 8px;
    transition: transform 1s;
}
.about-item:first-child {
    left: 750px;
    top: 50px;
}
.about-item:last-child {
    left: 600px;
    top: 290px;
}
.about-item img {
    display: block;
}
.about-item-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.about-item-mask li {
    position: relative;
    float: left;
    width: 50%;
    height: 50%;
    overflow: hidden;
}
.about-item-mask li img {
    position: absolute;
    transition: 1s;
}
.about-item-mask li:nth-child(1) img {
    left: 0;
    top: 0;
}
.about-item-mask li:nth-child(2) img {
    right: 0;
    top: 0;
}
.about-item-mask li:nth-child(3) img {
    left: 0;
    bottom: 0;
}
.about-item-mask li:nth-child(4) img {
    right: 0;
    bottom: 0;
}
.about-item:hover .about-item-mask li:nth-child(1) img {
    top: 100%;
}
.about-item:hover .about-item-mask li:nth-child(2) img {
    right: 100%;
}
.about-item:hover .about-item-mask li:nth-child(3) img {
    left: 100%;
}
.about-item:hover .about-item-mask li:nth-child(4) img {
    bottom: 100%;
}
.about-line {
    position: absolute;
    left: 50%;
    width: 357px;
    height: 998px;
    background: url('../img/greenLine.png') no-repeat;
}
    /*第五屏*/
.team {
    background: url('../img/bg5.jpg') no-repeat center center/cover;
}
.team1 {
    margin: 50px;
    width: 400px;
    float: left;
    transition: transform 1s;
}
.team2 {
    margin: 50px;
    width: 400px;
    float: right;
    transition: transform 1s;
}
.team3 {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 230px;
    width: 944px;
    height: 448px;
}
.team-item {
    float:left;
    width: 236px;
    height: 448px;
    background-image: url('../img/team.png');
    background-repeat: no-repeat;
    opacity: .5;
    transition: opacity 1s;
}
.team-item:nth-child(1) {
    background-position: 3px 0;
}
.team-item:nth-child(2) {
    background-position: -230px 0;
}
.team-item:nth-child(3) {
    background-position: -483px 0;
}
.team-item:nth-child(4) {
    background-position: -710px 0;
}
.team-item:hover {
    opacity: 1;
}

/*侧边导航*/
#slideNav {
    position: fixed;
    right: 10px;
    top: 50%;
}
.slide-item {
    margin-top: 10px;
    width: 15px;
    height:15px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.slide-item.actived {
    background: #fff;
}